.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.count-holder {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
  }

  .count {
    padding: 6px 10px;
    border-radius: 4px;
    background: #f5f5f5;
    span {
      font-weight: 600;
    }
  }
}

.prev {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 18px;
    height: 18px;
  }

  span {
    padding: 6px 10px;
    border-radius: 4px;
    user-select: none;
  }

  .active-page {
    background: #213f7d;
    color: #fff;
    font-weight: 600;
  }
}
